body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  max-width: 100%;
}

.title {
  color: #D0F8FF;
    text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
             0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
             0 0 40px #A5F1FF;
}

.car {
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('../public/car.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  opacity: 0.9;
  overflow: hidden;
} 



/* .dropdown-item {
  background-color: whitesmoke !important;
} */


.navbar {
  background-image: linear-gradient(to right, darkgreen , lightgreen);
  height: 10vh,
  

};


.nav-item:active{
  color: black !important
}

/* .navbar-nav > .active > a { 
  background-color: green !important; 
} */

/* .nav-link {
  color:green
} */


.dropdown-item>.active>a {
  background-color: #C0C0C0 !important;
  color: black !important;
}

/* .active, .btn:hover {
  background-color: #666;
  color: white;
} */

